@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}
ol {
  list-style: decimal;
  padding-left: 40px;
}
ul {
  padding-left: 40px;
  list-style: disc;
}
.read p {
  text-indent: 40px;
}
#logo {
  margin: auto;
}

header {
  box-shadow: 0px 0px 5px grey;
  padding: 10px 0 10px 0;
  z-index: 1000;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px 10px 60px;
}

.fixedNav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 10px black;
}

#mobile-nav {
  display: none;
}

.banner {
  /* style height in component props.  Default=30vw. override here with !important */
  height: 30vw !important;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* box-shadow: 0px 0px 10px black; */
}

#banner-msg {
  background-color: rgba(146, 141, 141, 0.712);
  width: 80%;
  padding: 20px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
  text-shadow: 0px 2px 2px black;
}

#welcome-container {
  display: flex;
  padding: 10px;
}
#welcome-msg {
  text-align: left;
  text-indent: 30px;
}
.headshot {
  min-width: 250px;
  display: flex;
  align-items: center;
}

#call-me {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background: rgb(209, 208, 212);
  background: linear-gradient(
    180deg,
    rgb(174, 173, 175) 0%,
    rgb(255, 255, 255) 85%
  );
}

.outer-border {
  border: 1px solid grey;
  background-color: white;
  border-radius: 5px;
  padding: 1px;
}

.phone-box {
  width: 40vw;
  height: 100px;
  color: rgb(12, 12, 12);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
}

.phone-number {
  color: rgb(21, 21, 80);
}

hr {
  width: 80%;
  margin: 20px auto;
}

#subPage-section {
  font-size: 1rem;
  text-align: center;
}

.subPage-copy p {
  line-height: 2rem;
  margin: 15px 40px;
  text-indent: 25px;
}

.subPage-section-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 850px;
  margin: auto;
}

.subPage-section-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #415161;
  width: 250px;
  height: 60px;
  margin: 10px;
  box-shadow: 0px 0px 5px black;
}

.subPage-section-button:hover {
  background-color: #88a0b7;
}

#contact-info {
  margin: 25px;
  text-align: center;
}

#contact-info-box {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.imageBoxes {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.imageBox {
  width: 25%;
  height: 17vw;
  position: relative;
  text-align: center;
}

.imageBox-text-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  opacity: 0;

  background-color: #ffffffbf;
  bottom: 0;
  margin-left: 2px;
  width: calc(100% - 4px);
  color: #415161;
  transition: all 0.5s;
}

.imageBox:hover .imageBox-text-container {
  height: 75%;
  opacity: 1;
}

#modal {
  background-color: white;
}

@media screen and (max-width: 800px) {
  .navLinks {
    display: none;
  }
  #mobile-nav {
    display: inline;
  }
  header {
    position: fixed;
    width: 100vw;
    background-color: white;
  }

  .page {
    padding-top: 115px;
  }
}

@media screen and (max-width: 720px) {
  .headshot {
    margin: auto;
  }
  #welcome-container {
    flex-direction: column;
  }
  #contact-info-box {
    flex-direction: column;
  }
  .contact-item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 765px) {
  .imageBox {
    width: 50%;
    height: 30vw;
  }
}
